.about {
    p {
        font-size: 18px;
    }
    &-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        position:relative;
    }
    &-desc {
        width: 40%;
        height: auto;
        position: absolute;
        top:20%;
    }
}