.header {
    position: relative;
    &-p {
        font-size: 18px;
        color: $white;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    &-img{
        width: 100%;
        height: auto;
        object-fit: cover;
        
    }
    &-desc {
        width: 40%;
        height: auto;
        position: absolute;
        top:25%;
        left: 5%;
        
    }
}