.menu {
    background-color: #FFFFFF;
    padding: 0.5rem 7rem;
    @include media-breakpoint-down(sm) {
        padding: 5px;
    }
    .navbar-nav .nav-link.active {
        color: $green;
    }
    .navbar-nav .nav-link.active::after {
        content: '';
        display: block;
        border: 3px solid $green;
        border-radius: 2px 2px 0px 0px;
        width: 2rem;
        position: absolute;
        bottom: 0;
        
    }
    .navbar-nav .nav-link {
        color: $grey70;
    }
    li {
        padding: 0 0.7rem;
       
    }
    // @extend btn-green;
}