.list {
    &-p {
        font-size: 1.375rem;
        color: $grey70;
    }
    .fa-check-circle{
        color: $green;
        font-size: 20px;
    }
    .fa-times-circle {
        color: $grey70;
        font-size: 20px;
    }
    tbody>tr {
        color: $grey70;
    }
    tbody>tr:nth-child(even) {
        background-color: #F5F8FF;
    }
     thead {
         background-color: $mygreen;
         color: $white;
     }
     table th:first-child{
        border-radius:10px 0 0 0;
      }
      
      table th:last-child{
        border-radius:0 10px 0 0;
      }
      .table td, .table th {
        border: none;
    }
    td, th {
        text-align: center;
    }
    th {
        border-bottom: none;
    }
    tbody>tr:last-child{
        border-radius:10px;
    }
    tr {
        height: 3.685rem;
    }
    
}
